.container {
    background-color: navy;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .inputContainer {
    flex: 1;
    margin-right: 10px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .selectContainer {
    flex: 1;
    margin-right: 10px;
  }
  
  .select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .buttonContainer {
    flex: 1;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background-color: #ffffff;
    color: navy;
    cursor: pointer;
  }
  